<div class="container">
    
    <section class="h2">
        <h2>Features</h2>
    </section>

    <section class="features-content">

      <div class="features-text">

        <p>
          Made with your productivity in mind, Our feature-packed todo app keeps you organized. Check out the functionalities below to make the most of your day.
        </p>

        <ul>
          <li>Add Todo: Quickly add new tasks to your list.</li>
          <li>View Todos: Automatically see all your tasks on the home page.</li>
          <li>Todo Details: Click 'Get Details' for more info on each task.</li>
          <li>Edit Todo: Modify your tasks as needed.</li>
          <li>Delete Todo: Remove tasks that are no longer needed.</li>
        </ul>

      </div>

      <div class="features-image">
        <img src="\assets\features.png" alt="Features"/>
      </div>

    </section>
    
</div>
