<div class="about-container">
  <header>
    <h2>About Us</h2>
  </header>

  <section class="about-us-content">
    <figure class="about-us-image">
      <img src="\assets\aboutus_taskflare.png" alt="About Us" />
    </figure>

    <div class="about-us-text">
      <p>
        TaskFlare is a task management app designed to help you organize and
        prioritize your daily tasks efficiently. Whether you have personal
        chores or professional tasks, TaskFlare provides intuitive tools to keep
        you on track. With features like task status and the ability to
        edit and delete tasks, staying productive has never been easier. Our
        goal is to streamline your workflow and enhance your productivity,
        making task management simple and effective. Discover how TaskFlare can
        transform the way you approach your to-do list.
      </p>
    </div>
  </section>
</div>
