<div class="details-container">

    <section class="h2">
        <h2>Todo Details</h2>
    </section>

    <section class="todo-details-area">

        <div>
            <h4>Id</h4>
            <p>{{todo?.id}}</p>
        </div>
       
        <div>
            <h4>Title</h4>
            <p>{{todo?.title}}</p>
        </div>

        <div>
            <h4>Status</h4>
            <p>{{todo?.status}}</p>
        </div>

        <div>
            <h4>Due Date</h4>
            <p>{{todo?.due_date}}</p>
        </div>

        <div>
            <h4>Details</h4>
            <p>{{todo?.details}}</p>
        </div>
    </section>

    <section class="action-buttons">
        <button class="btn button-edit">Edit</button>
        <button class="btn button-delete">Delete</button>
    </section>

</div>

