<div class="details-container">

    <section class="h2">
        <h2>Todo Details</h2>
    </section>

    <section class="todo-details-area">

        <div>
            <h4>Id</h4>
            <p>123</p>
        </div>
       
        <div>
            <h4>Title</h4>
            <p>Lorem</p>
        </div>

        <div>
            <h4>Status</h4>
            <p>Not Completed</p>
        </div>

        <div>
            <h4>Due Date</h4>
            <p>21/04/2028</p>
        </div>

        <div>
            <h4>Details</h4>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </section>

    <section class="action-buttons">
        <button class="btn button-edit">Edit</button>
        <button class="btn button-delete">Delete</button>
    </section>

</div>

