.add-todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    padding: 8px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-submit {
    display: flex;
    justify-content: center;
}

label {
    margin: 2px;
    padding: 2px;
    font-weight: bold;
    /* text-align: right; */
}

input {
    margin: 2px;
    padding: 8px;
    width: 450px;
}

.ng-valid:not(form) {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}

.danger {
    margin: 2px;
    background-color: #e29d9c;
    color: #a94442;
    padding: 5px 0 5px 10px;
}


.btn {
    width: 120px;
    font-size: 20px;
}

