.add-todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    padding: 8px;
}

form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5rem;
}

label {
    margin: 2px;
    padding: 2px;
    text-align: right;
}

input {
    margin: 2px;
    padding: 5px;
    width: 160px;
}

button {
    grid-column: span 2;
    width: 120px;
    justify-self: center;
}

.ng-valid:not(form) {
    border-left: 4px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 4px solid #a94442;
}

.danger {
    background-color: #e29d9c;
    color: #a94442;
    padding: 5px 0 5px 10px;
}

