<div class="add-todo-container">

    <section class="h2">
        <h2>Add to Do</h2>
    </section>

    <section class="form">

        <!-- {{model | json}} -->
        
        <form #todoForm="ngForm" action="">
            <label for="todoId">Id: </label>
            <input type="text" name="todoId" id="todoId" required [(ngModel)]="model.id">
            
            <label for="title">Title: </label>
            <input type="text" name="title" id="title" required [(ngModel)]="model.title">
        
            <label for="details">Details: </label>
            <input type="text" name="details" id="details" required [(ngModel)]="model.details">
        
            <label for="status">Status: </label>
            <input type="text" name="status" id="status" required [(ngModel)]="model.status">
        
            <label for="date">Date: </label>
            <input type="Date" name="date" id="Date" required [(ngModel)]="model.due_date">
            
            <button type="submit" class="btn button-primary">Submit</button>

        </form>
    </section>

</div>
