<div class="container">
  <section class="h1">
    <h1>Tasks to do</h1>
  </section>

  <section class="action-buttons">
    <button class="btn button-primary" (click)="onAddTodo()">Add Todo</button>
    <!-- <button class="btn button-primary" routerLink="/add-todo">Add Todo</button> -->
  </section>

  <section class="todo-area">
    <table>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Status</th>
        <th>Due Date</th>
        <th>Details</th>
      </tr>
      <tr *ngFor="let todo of todoList">
        <td>{{ todo.id }}</td>
        <td>{{ todo.title }}</td>
        <td>{{ todo.status }}</td>
        <td>{{ todo.due_date | date : "dd/MM/yyyy" }}</td>
        <td>
          <a [routerLink]="['/todo-details', todo.id]"> Get Details </a>
        </td>
      </tr>
    </table>
  </section>
</div>
